application/build/main.html

<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <link rel="shortcut icon" href=""/>
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="css/main.min.css"/>
    <title>index</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="backing clearfix">
          <div class="heading-wrap">
            <button aria-controls="#navigation" aria-hidden="false" class="btnMenu pull-left hidden"><span class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span></span></button><a href="main.html" class="logo"></a><a href="" class="btnExit pull-right hidden"></a>
          </div>
          <nav id="navigation" class="navigation">
            <ul>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-quest-registration"></i><span>Регистрация гостя</span></a></li>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-listing"></i><span>Заявки</span></a></li>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-mail"></i><span>Вопросы и предложения</span></a></li>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-video"></i><span>Видео инструкции</span></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="content">
        <h1 class="text-uppercase">Авторизация</h1>
        <form id="" method="" action="">
          <div class="field-wrap backing clearfix"><i class="icon-person"></i>
            <div class="field">
              <label for="login">Логин</label>
              <input type="email" value="" id="login" placeholder="Введите логин" name="log" required="required" class="custom-hidden"/>
            </div>
          </div>
          <div class="field-wrap backing clearfix"><i class="icon-lock"></i>
            <div class="field">
              <label for="password">Пароль</label>
              <input type="password" value="" id="password" placeholder="Введите пароль" name="pass" required="required" class="custom-hidden"/>
            </div>
          </div>
          <div class="btn-holder">
            <button type="submit" value="Войти" class="btn btn-primary">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="js/jquery.min.js"></script>
  <script src="js/main.js"></script>
</html>

application/app/templates/main.jade
html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title index
	body
		.wrapper
			include ./basic/hidden-header.jade
			.content
				h1.text-uppercase Авторизация
				form(id="", method="", action="")
					div.field-wrap.backing.clearfix
						i.icon-person
						div.field
							label(for="login") Логин
							input(type="email", value="", id="login", class="custom-hidden", placeholder="Введите логин", name="log", required)
					div.field-wrap.backing.clearfix
						i.icon-lock
						div.field
							label(for="password") Пароль
							input(type="password", value="", id="password", class="custom-hidden", placeholder="Введите пароль", name="pass", required)
					.btn-holder
						button(type="submit", class="btn btn-primary", value="Войти") Войти
	script(src="js/jquery.min.js")
	script(src="js/main.js")
