application/build/request.html

<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <link rel="shortcut icon" href=""/>
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="css/main.min.css"/>
    <title>request</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="backing clearfix">
          <div class="heading-wrap">
            <button aria-controls="#navigation" aria-hidden="false" class="btnMenu pull-left"><span class="gamb"><span class="line"></span><span class="line"></span><span class="line"></span></span></button><a href="main.html" class="logo"></a><a href="" class="btnExit pull-right"></a>
          </div>
          <nav id="navigation" class="navigation">
            <ul>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-quest-registration"></i><span>Регистрация гостя</span></a></li>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-listing"></i><span>Заявки</span></a></li>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-mail"></i><span>Вопросы и предложения</span></a></li>
              <li class="backing"><a href="" target="" class="arrow"><i class="icon-video"></i><span>Видео инструкции</span></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="content">
        <h1 class="text-uppercase">заявки</h1>
        <div class="controls-wrap">
          <div class="tab-controls center clearfix"><a href="" target="_blank" data-id="inventory" class="text-uppercase active">инвентарь</a><a href="" target="_blank" data-id="items" class="text-uppercase">товары</a><a href="" target="_blank" data-id="service" class="text-uppercase">обслуживание</a></div>
          <div class="tab-body">
            <div id="inventory" class="tab-content visible">
              <form id="" method="" action="">
                <div class="roller main-roller">
                  <div class="backing bordered field-wrap top-border">
                    <div class="field">
                      <label for="appartment-number">Выбрать номер</label>
                      <select id="appartment-number" class="custom-select">
                        <option value="Нажмите, чтобы выбрать номер">Нажмите, чтобы выбрать номер</option>
                        <option value="Номер 342">Номер 342</option>
                        <option value="Номер 218">Номер 218</option>
                        <option value="Номер 515">Номер 515</option>
                        <option value="Номер 601">Номер 601</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="added-rollers">
                  <div class="roller first">
                    <div class="backing bordered field-wrap">
                      <div class="field">
                        <label>Выбрать товар</label>
                        <select class="custom-select counter-trigger">
                          <option value="Нажмите чтобы выбрать товар">Нажмите чтобы выбрать товар</option>
                          <option value="Жидкость для мытья посуды Gala" data-id="jidkost">Жидкость для мытья посуды Gala</option>
                          <option value="Жидкость для мытья посуды Ariel" data-id="konfetki">Конфетки бараночки</option>
                          <option value="Жидкость для мытья посуды Fairy" data-id="polotenichki">Полотенички</option>
                        </select>
                      </div>
                    </div>
                    <div class="counter backing bordered clearfix">
                      <div class="icon-minus minus"></div>
                      <div class="count-field">
                        <input type="number" value="0" min="0" placeholder="0" class="item-count"/>
                        <label for="" class="label">шт.</label>
                      </div>
                      <div class="icon-plus plus"></div>
                    </div>
                  </div>
                </div>
                <div class="field-wrap backing"><i class="icon-cloud"></i>
                  <div class="field">
                    <label for="Комментарий">Комментарий</label>
                    <textarea name="" cols="30" rows="3" maxlength="60" placeholder="---" class="textarea"></textarea>
                  </div>
                </div>
                <div class="btn-holder">
                  <button type="submit" value="готово" class="btn btn-primary text-uppercase">готово</button>
                </div>
              </form>
            </div>
            <div id="items" class="tab-content">
              <form id="" method="" action="">
                <div class="roller main-roller">
                  <div class="backing bordered field-wrap top-border">
                    <div class="field">
                      <label for="appartment-number">Выбрать номер</label>
                      <select id="appartment-number" class="custom-select">
                        <option value="Нажмите, чтобы выбрать номер">Нажмите, чтобы выбрать номер</option>
                        <option value="Номер 342">Номер 342</option>
                        <option value="Номер 218">Номер 218</option>
                        <option value="Номер 515">Номер 515</option>
                        <option value="Номер 601">Номер 601</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="added-rollers">
                  <div class="roller first">
                    <div class="backing bordered field-wrap">
                      <div class="field">
                        <label>Выбрать товар</label>
                        <select class="custom-select counter-trigger">
                          <option value="Нажмите чтобы выбрать товар">Нажмите чтобы выбрать товар</option>
                          <option value="Жидкость для мытья посуды Gala" data-id="komplekti">Комплекты документов</option>
                          <option value="Жидкость для мытья посуды Ariel" data-id="konfetki">Конфетки бараночки</option>
                          <option value="Жидкость для мытья посуды Fairy" data-id="polotenichki">Полотенички</option>
                        </select>
                      </div>
                    </div>
                    <div class="counter backing bordered clearfix">
                      <div class="icon-minus minus"></div>
                      <div class="count-field">
                        <input type="number" value="0" min="0" placeholder="0" class="item-count"/>
                        <label for="" class="label">шт.</label>
                      </div>
                      <div class="icon-plus plus"></div>
                    </div>
                  </div>
                </div>
                <div class="field-wrap backing"><i class="icon-cloud"></i>
                  <div class="field">
                    <label for="Комментарий">Комментарий</label>
                    <textarea name="" cols="30" rows="3" maxlength="60" placeholder="---" class="textarea"></textarea>
                  </div>
                </div>
                <div class="btn-holder">
                  <button type="submit" value="готово" class="btn btn-primary text-uppercase">готово</button>
                </div>
              </form>
            </div>
            <div id="service" class="tab-content">
              <form id="" method="" action="">
                <div class="roller main-roller">
                  <div class="backing bordered field-wrap top-border">
                    <div class="field">
                      <label for="appartment-number">Выбрать номер</label>
                      <select id="appartment-number" class="custom-select">
                        <option value="Нажмите, чтобы выбрать номер">Нажмите, чтобы выбрать номер</option>
                        <option value="Номер 342">Номер 342</option>
                        <option value="Номер 218">Номер 218</option>
                        <option value="Номер 515">Номер 515</option>
                        <option value="Номер 601">Номер 601</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="added-rollers">
                  <div class="roller first">
                    <div class="backing bordered field-wrap">
                      <div class="field">
                        <label>Выбрать товар</label>
                        <select class="custom-select counter-trigger">
                          <option value="Нажмите чтобы выбрать товар">Нажмите чтобы выбрать товар</option>
                          <option value="Жидкость для мытья посуды Gala" data-id="komplekti">Комплекты документов</option>
                          <option value="Жидкость для мытья посуды Ariel" data-id="konfetki">Конфетки бараночки</option>
                          <option value="Жидкость для мытья посуды Fairy" data-id="polotenichki">Полотенички</option>
                        </select>
                      </div>
                    </div>
                    <div class="counter backing bordered clearfix">
                      <div class="icon-minus minus"></div>
                      <div class="count-field">
                        <input type="number" value="0" min="0" placeholder="0" class="item-count"/>
                        <label for="" class="label">шт.</label>
                      </div>
                      <div class="icon-plus plus"></div>
                    </div>
                  </div>
                </div>
                <div class="photo-module backing bordered center clearfix">
                  <h2>Добавить фото</h2>
                  <div class="photo-elements">
                    <div class="photo-block">
                      <label for="photo-1" class="styled-photo"></label>
                      <input type="file" id="photo-1" class="hidden"/>
                    </div>
                    <div class="photo-block">
                      <label for="photo-2" class="styled-photo"></label>
                      <input type="file" id="photo-2" class="hidden"/>
                    </div>
                    <div class="photo-block">
                      <label for="photo-3" class="styled-photo"></label>
                      <input type="file" id="photo-3" class="hidden"/>
                    </div>
                    <div class="photo-block">
                      <label for="photo-4" class="styled-photo"></label>
                      <input type="file" id="photo-4" class="hidden"/>
                    </div>
                    <div class="photo-block">
                      <label for="photo-5" class="styled-photo"></label>
                      <input type="file" id="photo-5" class="hidden"/>
                    </div>
                    <div class="photo-block">
                      <label for="photo-6" class="styled-photo"></label>
                      <input type="file" id="photo-6" class="hidden"/>
                    </div>
                  </div>
                </div>
                <div class="field-wrap backing"><i class="icon-cloud"></i>
                  <div class="field">
                    <label for="Комментарий">Комментарий</label>
                    <textarea name="" cols="30" rows="3" maxlength="60" placeholder="---" class="textarea"></textarea>
                  </div>
                </div>
                <div class="btn-holder">
                  <button type="submit" value="готово" class="btn btn-primary text-uppercase">готово</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/jquery.min.js"></script>
  <script src="js/main.js"></script>
</html>

application/app/templates/request.jade
html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title request
	body
		.wrapper
			include ./basic/header.jade
			.content
				h1.text-uppercase заявки
				div.controls-wrap
					div.tab-controls.center.clearfix
						a(href="", target="_blank", class="text-uppercase active" data-id="inventory") инвентарь
						a(href="", target="_blank", class="text-uppercase", data-id="items") товары
						a(href="", target="_blank", class="text-uppercase", data-id="service") обслуживание
					div.tab-body
						div(class="tab-content visible", id="inventory")
							form(id="", method="", action="")
								div.roller.main-roller
									.backing.bordered.field-wrap.top-border
										.field
											label(for="appartment-number") Выбрать номер
											select(id="appartment-number", class="custom-select")
												option(value="Нажмите, чтобы выбрать номер") Нажмите, чтобы выбрать номер
												option(value="Номер 342") Номер 342
												option(value="Номер 218") Номер 218
												option(value="Номер 515") Номер 515
												option(value="Номер 601") Номер 601
								div.added-rollers
									div.roller.first
										.backing.bordered.field-wrap
											.field
												label Выбрать товар
												select(class="custom-select counter-trigger")
													option(value="Нажмите чтобы выбрать товар") Нажмите чтобы выбрать товар
													option(value="Жидкость для мытья посуды Gala", data-id="jidkost") Жидкость для мытья посуды Gala
													option(value="Жидкость для мытья посуды Ariel", data-id="konfetki") Конфетки бараночки
													option(value="Жидкость для мытья посуды Fairy", data-id="polotenichki") Полотенички
										div.counter.backing.bordered.clearfix
											.icon-minus.minus
											.count-field
												input(type="number", value="0", min="0", placeholder="0", class="item-count")
												label(for="", class="label") шт.
											.icon-plus.plus
								div.field-wrap.backing
									i.icon-cloud
									div.field
										label(for="Комментарий") Комментарий
										textarea(name="", cols="30", rows="3", maxlength="60", placeholder="---", class="textarea")
								.btn-holder
									button(type="submit", class="btn btn-primary text-uppercase", value="готово") готово
						div(class="tab-content", id="items")
							form(id="", method="", action="")
								div.roller.main-roller
									.backing.bordered.field-wrap.top-border
										.field
											label(for="appartment-number") Выбрать номер
											select(id="appartment-number", class="custom-select")
												option(value="Нажмите, чтобы выбрать номер") Нажмите, чтобы выбрать номер
												option(value="Номер 342") Номер 342
												option(value="Номер 218") Номер 218
												option(value="Номер 515") Номер 515
												option(value="Номер 601") Номер 601
								div.added-rollers
									div.roller.first
										.backing.bordered.field-wrap
											.field
												label Выбрать товар
												select(class="custom-select counter-trigger")
													option(value="Нажмите чтобы выбрать товар") Нажмите чтобы выбрать товар
													option(value="Жидкость для мытья посуды Gala", data-id="komplekti") Комплекты документов
													option(value="Жидкость для мытья посуды Ariel", data-id="konfetki") Конфетки бараночки
													option(value="Жидкость для мытья посуды Fairy", data-id="polotenichki") Полотенички
										div.counter.backing.bordered.clearfix
											.icon-minus.minus
											.count-field
												input(type="number", value="0", min="0", placeholder="0", class="item-count")
												label(for="", class="label") шт.
											.icon-plus.plus
								div.field-wrap.backing
									i.icon-cloud
									div.field
										label(for="Комментарий") Комментарий
										textarea(name="", cols="30", rows="3", maxlength="60", placeholder="---", class="textarea")
								.btn-holder
									button(type="submit", class="btn btn-primary text-uppercase", value="готово") готово
						div(class="tab-content", id="service")
							form(id="", method="", action="")
								div.roller.main-roller
									.backing.bordered.field-wrap.top-border
										.field
											label(for="appartment-number") Выбрать номер
											select(id="appartment-number", class="custom-select")
												option(value="Нажмите, чтобы выбрать номер") Нажмите, чтобы выбрать номер
												option(value="Номер 342") Номер 342
												option(value="Номер 218") Номер 218
												option(value="Номер 515") Номер 515
												option(value="Номер 601") Номер 601
								div.added-rollers
									div.roller.first
										.backing.bordered.field-wrap
											.field
												label Выбрать товар
												select(class="custom-select counter-trigger")
													option(value="Нажмите чтобы выбрать товар") Нажмите чтобы выбрать товар
													option(value="Жидкость для мытья посуды Gala", data-id="komplekti") Комплекты документов
													option(value="Жидкость для мытья посуды Ariel", data-id="konfetki") Конфетки бараночки
													option(value="Жидкость для мытья посуды Fairy", data-id="polotenichki") Полотенички
										div.counter.backing.bordered.clearfix
											.icon-minus.minus
											.count-field
												input(type="number", value="0", min="0", placeholder="0", class="item-count")
												label(for="", class="label") шт.
											.icon-plus.plus
								.photo-module.backing.bordered.center.clearfix
									h2 Добавить фото
									div.photo-elements
										div.photo-block
											label(for="photo-1", class="styled-photo")
											input(type="file", id="photo-1", class="hidden")
										div.photo-block
											label(for="photo-2", class="styled-photo")
											input(type="file", id="photo-2", class="hidden")
										div.photo-block
											label(for="photo-3", class="styled-photo")
											input(type="file", id="photo-3", class="hidden")
										div.photo-block
											label(for="photo-4", class="styled-photo")
											input(type="file", id="photo-4", class="hidden")
										div.photo-block
											label(for="photo-5", class="styled-photo")
											input(type="file", id="photo-5", class="hidden")
										div.photo-block
											label(for="photo-6", class="styled-photo")
											input(type="file", id="photo-6", class="hidden")
								div.field-wrap.backing
									i.icon-cloud
									div.field
										label(for="Комментарий") Комментарий
										textarea(name="", cols="30", rows="3", maxlength="60", placeholder="---", class="textarea")
								.btn-holder
									button(type="submit", class="btn btn-primary text-uppercase", value="готово") готово
	script(src="js/jquery.min.js")
	script(src="js/main.js")
